body {
  font-family: monospace;
  background: #222;
  margin: 0;
  color: white;
}
h1, h2 {
  display: block;
  font-size: 1rem;
  margin: 1rem 0 2rem;
}
input[type="number"] {
  color: white;
  background: black;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
code {
  display: block;
  border-radius: 3px;
  font-size: 1rem;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.color-choice {
  display: flex;
}
.color-preview {
  width: 1rem;
  aspect-ratio: 1;
}
.prompt-preview {
  background: #111;
  padding: 2rem;
}
.prompt-ps1 {
  background: #111;
  padding: 2rem;
  margin-top: 2rem;
}
.legend {
  margin-top: 3rem;
  line-height: 1.2rem;
}
