body {
  font-family: monospace;
  background: #222;
  margin: 0;
  padding: 0;
  color: white;
}
header {
  background: #121212;
  padding: 2rem 0;
}
footer {
  background: #151515;
  padding: 2rem 0;
}
h1, h2 {
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
h2 {
  opacity: 0.6;
  padding-bottom: 2rem;
}
pre {
  background: #111;
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 3px;
}
input[type="number"] {
  color: white;
  background: black;
  border: none;
  font-size: 1rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
   -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
li {
  line-height: 1.5rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
a {
  color: inherit;
  opacity: 0.8;
  font-size: 1rem;
}
code {
  display: block;
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
section {
  padding: 2rem 0 4rem;
}
section.bash-prompt-preview {
  background: #242424;
  padding-bottom: 2rem;
}
main {
  min-height: 100vh;
  background: #1c1c1c;
}
.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}
.color-wrapper {
  display: flex;
}
.selection-indicator {
  position: absolute;
  left: -1rem;
  line-height: 2rem;
}
.six-by-six {
  width: 12rem;
  height: 12rem;
  float: left;
}
.square {
  width: 2rem;
  aspect-ratio: 1;
  float: left;
}
.clear-left {
  clear: left;
}
.color-choice {
  display: flex;
  margin-right: 3rem;
}
.color-preview {
  width: 3rem;
  aspect-ratio: 1;
}
.color-preview:hover {
  cursor: pointer;
}
.prompt-preview {
  background: #111;
  padding: 2rem;
}
.prompt-ps1 {
  background: #111;
  padding: 2rem;
}
.legend {
  font-family: monospace;
  line-height: 1.2rem;
  padding: 2rem;
}
