body {
  font-family: monospace;
  background: #222;
  margin: 0;
  padding: 0;
  color: white;
}
h1, h2 {
  display: block;
  font-size: 1rem;
  padding: 1rem 0 2rem;
}
h2 {
  opacity: 0.6;
}
input[type="number"] {
  color: white;
  background: black;
  border: none;
  font-size: 1rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
}
code {
  display: block;
  border-radius: 3px;
  font-size: 1rem;
}
section {
  margin: 3rem 0 4rem;
}
main {
  min-height: 100vh;
  background: #1c1c1c;
}
.container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.color-wrapper {
  display: flex;
}
.selection-indicator {
  position: absolute;
  left: -1rem;
  line-height: 2rem;
}
.square {
  width: 1.5rem;
  aspect-ratio: 1;
  float: left;
}
.clear-left {
  clear: left;
}
.color-choice {
  display: flex;
  margin-right: 3rem;
}
.color-preview {
  width: 2rem;
  aspect-ratio: 1;
}
.prompt-preview {
  background: #111;
  padding: 2rem;
}
.prompt-ps1 {
  background: #111;
  padding: 2rem;
  margin-top: 2rem;
}
.legend {
  font-family: monospace;
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 2rem;
}
