html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  font-family: "IBM Plex Mono", monospace;
  background: #222;
  color: #e3e3e3;
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: relative;
}
.fluid-container {
  display: flex;
  width: 1000px;
  padding: 0 1.5rem;
  margin: 0 auto;
  justify-content: space-between;
}
.thin-container {
  width: 480px;
}
header {
  background: #121212;
  padding: 1rem 0;
}
footer {
  background: #151515;
}
h1, h2 {
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
h1 {
  color: #787878;
}
h2 {
  opacity: 0.6;
  padding-bottom: 1.5rem;
}
code {
  display: block;
  margin-bottom: 1rem;
}
pre {
  color: #cdcdcd;
}
.prompt-preview-and-name {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-left: 4rem;
}
.prompt-preview, code, pre {
  background: #111;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5rem;
  border-radius: 5px;
}
.prompt-preview {
  margin-bottom: 0;
}
.prompt-preview:hover {
  cursor: pointer;
}
.example-ps1-prompts {
  margin-bottom: 3rem;
}
input[type="number"] {
  color: #c9c9c9;
  background: #111;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
input[type="number"]:focus {
  background: #222;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
li {
  line-height: 1.5rem;
}
p {
  color: #b7b7b7;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}
a {
  color: inherit;
  opacity: 0.8;
  font-size: 1rem;
}
a:hover {
  opacity: 1;
}
section {
  padding: 2rem 0 4rem;
}
section.bash-prompt-customize {
  background: #242424;
  padding: 3rem 0;
}
section.bash-prompt-ps1 {
  background: #181818;
  padding-bottom: 2rem;
}
section.bash-prompt-variables {
  background: #1e1e1e;
}
.colors-256 {
  width: 27rem;
}
.six-by-six {
  width: 9rem;
  height: 9rem;
  float: left;
}
.square {
  width: 1.5rem;
  aspect-ratio: 1;
  touch-action: none;
  float: left;
}
.square:hover {
  cursor: pointer;
}
.clear-left {
  clear: left;
}
.faded {
  margin-bottom: 1.5rem;
  opacity: 0.5;
}
.color-customizer {
  margin-top: 3rem;
}
.color-choices {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: -1.3rem;
  margin-bottom: 2.6rem;
}
.color-choice {
  width: 5rem;
}
.color-preview {
  aspect-ratio: 2;
}
.color-preview:hover {
  cursor: pointer;
}
.selection-indicator {
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
}
.export {
  color: rgb(103, 164, 225);
}
.ps1-var {
  color: rgb(132, 170, 170);
}
.bash-string {
  color: rgb(132, 170, 170);
}
.color-code {
  color: rgb(194, 247, 141);
}

@media screen and (max-width: 1000px) {
  .colors-256 {
    width: 18rem;
  }
  .fluid-container {
    width: calc(1000px - 9rem);
  }
  .container {
    width: calc(1000px - 9rem);
  }
}

@media screen and (max-width: 872px) {
  .fluid-container {
    display: block;
    width: 100%;
    padding: 0 4vw;
  }
  .thin-container {
    width: auto;
  }
  .container {
    width: auto;
    padding: 0 4vw;
  }
  .thin-screen-invis {
    display: none;
  }
  .color-choice {
    width: 20%;
  }
  .colors-256 {
    width: 72vw;
    width: 100%;
  }
  .six-by-six {
    width: 24vw;
    height: 24vw;
    float: left;
  }
  .square {
    width: 4vw;
    aspect-ratio: 1;
    float: left;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 0.8rem;
  }
  .bash-variable-list {
    font-size: 0.6rem;
  }
  h5 {
    display: none;
  }
}
